name: Build Docker Image

on:
  push:
    branches:
      - master
  workflow_dispatch:
    inputs:
      reason:
        description: 'Reason for manually triggering this workflow'
        required: true
        default: 

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      
      - name: Build and Push
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: cmu411/autograder:latest

